<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
<div class="container">
  <div class="nav">
    <img class="logo" src="/Images/logo.svg" alt="logo">
    <h1 class="logo_name">Typoo</h1>
  </div>

<div class="SignUpForm">

<h2>ADMIN Sign in</h2>
<div  class="Form">

  <form action="/adminlogin" method="POST">
   
   
    
    <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" required>
    <!-- <label for="password">password:</label><br> -->
    <input type="password" id="password" name="password" placeholder="Password" autocomplete="off" required>
    <!-- <label for="cnf_pass">cnf_pass:</label><br> -->
    
    <a href="/"><input type="submit" value="Submit" id="submit"></a>
  </form> 
</div>


</div>

</div>




</body>
</html>

