<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typoo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="Nav">
        <img class="logo" src="/Images/logo.svg" alt="logo">
        <h1 class="logo_name">Typoo</h1>

        <input type="text" class="search1" placeholder="search" autocomplete="off">
        <img src="/Images/search.svg" alt="search" class="search_logo">

        <div class="LogSin">
            
            <a href="/signin"><button class="signin">Sign in</button></a>
            <a href="/signup"><button class="signup">Sign up</button></a>
            
        </div>
       
    </div>
    <!-- this is the second div starting -->
    {{!-- <a href="/{{this._id}}">my dashboard</a> --}}
    <div class="Display">
        <div class="Display_para">
            <h1>Look for a <br/><span style="color: rgb(229,198,135)">BANGER</span> BLOG</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam porro, tempore tenetur sed adipisci omnis repudiandae laudantium eveniet aldo.</p>

            <input type="text" class="search2" placeholder="Search Blog">
            <!-- <img src="/Images/search.svg" alt="search" class="search_logo"> -->
            <button class="search_btn">Search</button>
            <p style="color: rgb(180,81,129)">Blogging, done right! </p>
        </div>
        <div class="over"></div>
        <div class="Display_img">
            <img class="Dp" src="/Images/dp1.svg" alt="DP1">
        </div>


    </div>
     
    <!-- Feature bar starts from here -->
    <div class="featured">
        <div class="first">
            <div class="card">
                <img src="/Images/1.png" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Tech Blog</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam porro, tempore tenetur sed</p>
                    <p style="color: rgb(9,129,74);font-weight: bold;">
                        </br>Read more</p>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="card">
                <img src="/Images/2.png" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Social Blog</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam porro, tempore tenetur sed</p>
                    <p style="color: rgb(9,129,74);font-weight: bold;">Read more</p>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="card">
                <img src="/Images/3.png" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4>Health Blog</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam porro, tempore tenetur sed</p>
                    <p style="color: rgb(9,129,74); font-weight: bold;">Read more</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cat_display">
        <p>categories :</p>
        <div class="cat_div">
            <img class="cat_img" src="/Images/cat1.png" alt="cat1">
            <h3>cat1</h3>
        </div>
        <div class="cat_div">
            <img class="cat_img" src="/Images/cat3.png" alt="cat1">
            <h3>cat1</h3>
        </div>
        <div class="cat_div">
            <img class="cat_img" src="/Images/cat2.png" alt="cat1">
            <h3>cat1</h3>
        </div>
        <div class="cat_div">
            <img class="cat_img" src="/Images/cat3.png" alt="cat1">
            <h3>cat1</h3>
        </div>
        <div class="cat_div">
            <img class="cat_img" src="/Images/cat4.png" alt="cat1">
            <h3>cat1</h3>
        </div>
        <div class="cat_div">
            <img class="cat_img" src="/Images/cat2.png" alt="cat1">
            <h3>cat1</h3>
        </div>

        <!-- <img class="cat1" src="/Images/cat2.png" alt="cat1">
        <img class="cat1" src="/Images/cat3.png" alt="cat1">
        <img class="cat1" src="/Images/cat4.png" alt="cat1">
        <img class="cat1" src="/Images/logo.svg" alt="cat1"> -->
    </div>

    <div class="latest">
        <div class="blog_section">
            <div class="latest_blog">
                <div class="card_blog">
                    <img src="/Images/1.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>Tech Blog</b></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam porro, tempore tenetur sed</p>
                        <p style="color: rgb(9,129,74);font-weight: bold;">
                            </br>Read more</p>
                    </div>
                </div>
            </div>
            <div class="latest_blog">
                <div class="card_blog">
                    <img src="/Images/1.png" alt="Avatar" style="width:100%">
                    <div class="container_blog">
                        <h4><b>Tech Blog</b></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam porro, tempore tenetur sed</p>
                        <p style="color: rgb(9,129,74);font-weight: bold;">
                            </br>Read more</p>
                    </div>
                </div>
            </div>
            <div class="latest_blog">
                <div class="card_blog">
                    <img src="/Images/1.png" alt="Avatar" style="width:100%">
                    <div class="container_blog">
                        <h4><b>Tech Blog</b></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam porro, tempore tenetur sed</p>
                        <p style="color: rgb(9,129,74);font-weight: bold;">
                            </br>Read more</p>
                    </div>
                </div>
            </div>
            <div class="latest_blog">
                <div class="card_blog">
                    <img src="/Images/1.png" alt="Avatar" style="width:100%">
                    <div class="container_blog">
                        <h4><b>Tech Blog</b></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam porro, tempore tenetur sed</p>
                        <p style="color: rgb(9,129,74);font-weight: bold;">
                            </br>Read more</p>
                    </div>
                </div>
            </div>

        </div>


        <div class="ad_section">
           <div class="Review">
            <img src="/Images/cat1.png" alt="profile_pic">
            <h4>dummy name </h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In vero illo natus incidunt ducimus iure dolorum vitae, rerum soluta eligendi minima esse corrupti suscipit sequi saepe quae, tenetur odit repudiandae!</p>
           </div>
           <div class="Review">
            <img src="/Images/cat3.png" alt="profile_pic">
            <h4>dummy name </h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In vero illo natus incidunt ducimus iure dolorum vitae, rerum soluta eligendi minima esse corrupti suscipit sequi saepe quae, tenetur odit repudiandae!</p>
           </div>

           <div class="trendy_blog">
                <p>Trendy blogs :</p>
                <div class="Trendy_field">
                    <div class="Trendies">
                        <img src="/Images/cat2.png" alt="trendy_pic">
                        <p class="topic"> Blog topic</p>
                        <p class="date">Date</p>
                        
                    </div>
                    <div class="Trendies">
                        <img src="/Images/cat2.png" alt="trendy_pic">
                        <p class="topic"> Blog topic</p>
                        <p class="date">Date</p>
                        
                    </div>
                    <div class="Trendies">
                        <img src="/Images/cat2.png" alt="trendy_pic">
                        <p class="topic"> Blog topic</p>
                        <p class="date">Date</p>
                        
                    </div>
                    <div class="Trendies">
                        <img src="/Images/cat2.png" alt="trendy_pic">
                        <p class="topic"> Blog topic</p>
                        <p class="date">Date</p>
                        
                    </div>
                </div>
           </div>

        </div>
    </div>







    <div class="write_blog">
        <div>
            <br>
            <h1>Write your own Blog!</h1>
            <p>Start Creating you own beautiful blog and subscribe to ouw newsletter <br> with just few simple steps.</p>
            <input type="text" class="email" placeholder="Enter your email">
            <a href="/blog"><button class="subs_btn">Subscribe</button></a>
        </div>
        <div>
            <img class="subs1" src="/Images/subs.svg" alt="logo">
        </div>
    </div>

    <div class="footer">
        <h6>Designed with love by Raman and Raghav</h6>
    </div>

</body>

</html>